<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Novo pedido de adoção do(a) <%= @order.animal.name %> (Id: <%= @order.animal.id %>)!</h1>
    <p>Segue os dados do(a) adotador(a): </p>
    <p><strong><%= translate 'activerecord.attributes.order.name'%>: <%= @order.name %> </p>
    <p><strong><%= translate 'activerecord.attributes.order.cpf'%>: </strong><%= @order.cpf %> </p>
    <p><strong><%= translate 'activerecord.attributes.order.email'%>: </strong><%= @order.email %> </p>
    <p><strong><%= translate 'activerecord.attributes.order.address'%>: </strong><%= @order.address %> </p>
    <p><strong><%= translate 'activerecord.attributes.order.age'%>: </strong><%= @order.age %> </p>
    <p><strong><%= translate 'activerecord.attributes.order.telephone'%>: </strong><%= @order.telephone %> </p>
    <p> <%= link_to 'Acessar página da adoção', order_url(@order.id)%> </p>
  </body>
</html>