<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Novo pedido de adoção do(a) <%= @order.animal.name %> (Id: <%= @order.animal.id %>)!</h1>
    <p>Segue os dados do(a) adotador(a): </p>
    <p>Segue os <%= @order.name %> </p>
    <p>Segue os <%= @order.cpf %> </p>
    <p>Segue os <%= @order.email %> </p>
    <p>Segue os <%= @order.address %> </p>
    <p>Segue os <%= @order.age %> </p>
    <p>Segue os <%= @order.telephone %> </p>
  </body>
</html>