<%= stylesheet_link_tag 'adoption_order_page.css' %>

<div class='container'>
    <h2>Pedidos de Adoção</h2>
    <% if @orders.any? %>
        <% @orders.each do |order| %>
            <div class="item-container">
                <div>
                    <label>Pet:</label>
                    <%= link_to order.animal.name, order_path(order), :class => 'link' %>
                </div>
                
                <div>
                    <label>Nome:</label>
                    <%= order.name %>
                </div>

                <div>
                    <label>E-mail:</label>
                    <%= order.email %>
                </div>
                
                <div>
                    <label>Data:</label>
                    <%= order.created_at %>
                </div>
            </div>
        <% end %>
    <% end %>
</div>

