<%= stylesheet_link_tag 'new_order_page.css' %>

<% @order.errors.full_messages.each do |message| %>
  <%= message %>
<% end %>
<body>
  <div class="container">
    <h2>Informações para adoção</h2>

    <%= form_with model: @order, local: true do |f| %>
        
        <div class='container-left'>
          <%= f.label :name %>
        </div>
          <%= f.text_field :name %>
      
        <div class='container-left'>
        <%= f.label :cpf %>
        </div>
        <%= f.text_field :cpf %>
      
        <div class='container-left'>
        <%= f.label :email %>
        </div>
        <%= f.text_field :email %>
        
        <div class='container-left'>
        <%= f.label :address %>
        </div>
        <%= f.text_field :address %>
      
        <div class='container-left'>
        <%= f.label :age %>
        </div>
        <%= f.number_field :age %>
        
        <div class='container-left'>
        <%= f.label :telephone %>
        </div>
        <%= f.text_field :telephone %>
        
        
      <br>
      <%= f.submit 'Concluir', :class => "button" %>
      
        
      <%= f.hidden_field :animal_id, value: @animal.id %>  
      
    <% end %>
  </div>
</body>