<%= stylesheet_link_tag 'show_order_page.css' %>

<div class='container'>
  <h2>Informações do Adotante</h2>
  
    <% if @order.present? %>
    <h1><% "#{@order.animal.name} - #{@order.email} - #{@order.created_at}" %></h1>
      <div class="flex-container-column-start">
        <div>
        <label>Nome:</label>
          <%= @order.name %>
        </div>

        <div>
        <label>Idade:</label>
        <%= @order.age %>
        </div>
        
        <div>
        <label>CPF:</label>
        <%= @order.cpf %>
        </div>

        <div>
        <label>Endereço:</label>
        <%= @order.address %>
        </div>

        <div>
        <label>Telefone:</label>
        <%= @order.telephone %>
        </div>

        <div>
        <label>Situação:</label>
        <%= @order.status %>
        <%= @order.conclusion_date if @order.concluido? %>   
        <br>
        </div>

        <div>
        <label>Adoção ?</label>
        <br>
        <div class='container-center'>
        <% if @order.pendente? %>
          <%= link_to 'Cancelar', cancel_order_path(@order), method: :delete, :class => 'button' %>
          <%= link_to 'Concluir', conclude_order_path(id: @order), method: :post, :class => 'button'  %>
        <% end %>  
        </div>
        </div>
      </div>
  <% end %> 
 </div>
    
