<% if @order.present? %>
  <h1><% "#{@order.animal.name} - #{@order.email} - #{@order.created_at}" %></h1>
  
  <%= @order.status %>
  <%= @order.cpf %>
  <%= @order.telephone %>
  <%= @order.address %>
  <%= @order.age %>
  <%= @order.status %>
  <%= @order.conclusion_date if @order.concluido? %>   

  <% if @order.pendente? %>
    <%= link_to 'Cancelar', cancel_order_path(@order), method: :delete %>
    <%= link_to 'Concluir', order_url(id: @order), method: :post  %>
  <% end %>  
 <% end %> 
    
