<% @animal.errors.full_messages.each do |message| %>
  <%= message %>
<% end %>

<div class='container'>
  <h2>Editar Pet</h2>

  <% if @animal.medias.attached? %>
    <% @animal.medias.each do |media| %>
      <% if media.content_type.start_with? "video/" %>
        <%= video_tag url_for(media), controls: true,:class => 'video' %>
      <% elsif media.content_type.start_with? "image/" %>
        <%= image_tag media, :class => 'picture' %>
      <% end %>
      <br>
      <%= link_to 'Remover', delete_media_attachment_path(media.id), method: :delete %>
      <br>
    <% end %>
  <% end %>
  
  <%= form_with model: @animal, local: true do |f| %>
    <div class='container-left'>
    <%= f.label :name %>
    </div>
    <%= f.text_field :name, :class => 'default_input' %>
    
    <div class='container-left'>
    <%= f.label :description %>
    </div>
    <%= f.text_field :description, :class => 'default_input' %>
    
    <div class='container-left'>
    <%= f.label :birthday %>
    </div>
    <%= f.date_field :birthday, :class => 'default_input' %>
    
    <div class='container-left'>
    <%= f.label :weight %>
    </div>
    <%= f.number_field :weight, :class => 'default_input' %>
  
    <div class='container-left'>
    <%= f.label :size %>
    </div>
    <%= f.select :size, Animal.sizes.map{|key, value| [key.humanize.capitalize, value]}, {}, :class => 'default_input' %>
    
    <div class='container-left'>
    <%= f.label :color %>
    </div>
    <%= f.select :color, Animal.colors.map{|key, value| [key.humanize.capitalize, value]}, {}, :class => 'default_input' %>
    
    <div class='container-left'>
    <%= f.label :fur_type %>
    </div>
    <%= f.select :fur_type, Animal.fur_types.map{|key, value| [key.humanize.capitalize, value]}, {}, :class => 'default_input' %>
    
    <div class='container-left'>
    <%= f.label :fur_size %>
    </div>
    <%= f.select :fur_size, Animal.fur_sizes.map{|key, value| [key.humanize.capitalize, value]}, {}, :class => 'default_input' %>

    <div class='container-left'>
    <%= f.label :media %>
    </div>
    <%= f.file_field :medias, multiple: true %>  
  
    <%= f.submit 'Concluir', :class => 'button' %>
  </div>
  
  <% end %>
</div>