<% @animal.errors.full_messages.each do |message| %>
  <%= message %>
<% end %>

<h1>Informações do Animal</h1>

<%= form_with model: @animal, local: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :weight %>
  <%= f.number_field :weight %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.label :birthday %>
  <%= f.date_field :birthday %>
  <%= f.label :color %>
  <%= f.select(:color, Animal.colors.map{|key, value| [key.humanize.capitalize, value]}) %>
  <%= f.label :fur_type %>
  <%= f.select(:fur_type, Animal.fur_types.map{|key, value| [key.humanize.capitalize, value]}) %>
  <%= f.label :fur_size %>
  <%= f.select(:fur_size, Animal.fur_sizes.map{|key, value| [key.humanize.capitalize, value]}) %>
  <%= f.label :size %>
  <%= f.select(:size, Animal.sizes.map{|key, value| [key.humanize.capitalize, value]}) %>
  <%= f.label :media %>

  <% if @animal.medias.attached? %>
    <% @animal.medias.each do |media| %>
      <% if media.content_type.start_with? "video/" %>
        <%= video_tag url_for(media), controls: true %>
      <% elsif media.content_type.start_with? "image/" %>
        <%= image_tag media %>
      <% end %>
    <% end %>
  <% end %>

  <%= f.file_field :medias, multiple: true %>  
  <%= f.submit 'Concluir' %>
<% end %>
