<%= stylesheet_link_tag 'index_animal_page.css' %>

<div class='flex_container'>
  <%= form_tag(animals_path, method: :get) do %> 
    <label class='text'>Pesquisar</label>
    <%= search_field_tag :search, params[:search], :class => 'filter_input' %>
    <%= select_tag :size, options_for_select(Animal.sizes.map {|key, value| [key.humanize.capitalize, value]}, params[:size]), include_blank: true, :class => 'filter_input' %>
    <%= select_tag :color, options_for_select(Animal.colors.map {|key, value| [key.humanize.capitalize, value]}, params[:color]), include_blank: true, :class => 'filter_input' %>
    <%= select_tag :fur_size, options_for_select(Animal.fur_sizes.map {|key, value| [key.humanize.capitalize, value]}, params[:fur_size]), include_blank: true, :class => 'filter_input' %>
    <%= button_tag "Buscar", :class => 'search_button' %> 
  <% end %>
</div>
<div class='flex_container123'>

<div class='flex_container'>
<% if @animals.any? %>
  <% @animals.each do |animal| %>
    <div class='pet_container'>
      <%= link_to animal.name, animal, :class => 'titulo' %>
      <% if animal.medias.attached? %>
        <% if animal.medias.first.content_type.start_with? "video/" %>
          <%= video_tag url_for(animal.medias.first), controls: true,:class => 'video' %>
        <% elsif animal.medias.first.content_type.start_with? "image/" %>
          <%= image_tag animal.medias.first, :class => 'picture' %>
        <% end %>
      <% end %>
      <br>
      <% if admin_signed_in? %> 
        <%= link_to 'Editar pet', edit_animal_path(animal), :class => 'default_button1' %>
      <% else %>       
        <% if animal.disponivel? %>
          <div class='button_container'>
            <%= link_to image_tag("icon_favorite.png", class: 'icon1'), favorites_path(animal_id: animal), method: :post %>
            <%= link_to image_tag("icon_adopt.png", class: 'icon1'), new_order_path(animal_id: animal) %>
          </div>
      <% end %>
    <% end %>
    </div>
 <% end %>
<% end %>
</div>
</div>