<h1> Animais </h1>

<% if admin_signed_in? %>
  <%= link_to 'Cadastrar novo animal', new_animal_path %>
<% end %>

<%= form_tag(animals_path, method: :get) do %> 
  <%= search_field_tag :search, params[:search] %>  
  <%= button_tag 'Pesquisar' %>
  
  <%= select_tag :cor, options_for_select(Animal.cors.map {|key, value| [key.humanize.capitalize, value]}, params[:cor]), include_blank: true %>
  <%= select_tag :tipo_pelo, options_for_select(Animal.tipo_pelos.map {|key, value| [key.humanize.capitalize, value]}, params[:tipo_pelo]), include_blank: true %>
  <%= select_tag :tamanho_pelo, options_for_select(Animal.tamanho_pelos.map {|key, value| [key.humanize.capitalize, value]}, params[:tamanho_pelo]), include_blank: true %>
  <%= select_tag :porte, options_for_select(Animal.portes.map {|key, value| [key.humanize.capitalize, value]}, params[:porte]), include_blank: true %>

<% end %>

<% if @animals.any? %>
  <% @animals.each do |animal| %>
    <%= link_to animal.nome, animal %>
    <%= animal.status %>
    <% if admin_signed_in? %> 
      <%= link_to 'Editar animal', edit_animal_path(animal) %>
    <% else %>       
      <% if animal.disponivel? %>
        <%= link_to 'Adotar', new_order_path(animal_id: animal)%>
        <%= link_to 'Favoritar', favoritos_path(animal_id: animal), method: :post %>
      <% end %>
    <% end %>
  <% end %>
<% end %>