<%= stylesheet_link_tag 'new_animal_page.css' %>

<% @animal.errors.full_messages.each do |message| %>
  <%= message %>
  <br>
<% end %>


<body>
  <div class='container'>
    <h2>Novo Pet</h2>
      
      <%= form_with model: @animal, local: true do |f| %>
      
      <div class='container-left'>
      <%= f.label :name %>
      </div>
      <%= f.text_field :name %>
      <br>

      <div class='container-left'>
      <%= f.label :weight %>
      </div>
      <%= f.number_field :weight %>
      <br>

      <div class='container-left'>
      <%= f.label :description %>
      </div>
      <%= f.text_field :description %>
      <br>

      <div class='container-left'>
      <%= f.label :birthday %>
      </div>
      <%= f.date_field :birthday %>
      <br>

      <div class='container-left'>
      <%= f.label :color %>
      </div>
      <%= f.select :color, Animal.colors.map{|key, value| [key.humanize.capitalize, value]} %>
      <br>

      <div class='container-left'>
      <%= f.label :fur_type %>
      </div>
      <%= f.select :fur_type, Animal.fur_types.map{|key, value| [key.humanize.capitalize, value]} %>
      <br>

      <div class='container-left'>
      <%= f.label :fur_size %>
      </div>
      <%= f.select :fur_size, Animal.fur_sizes.map{|key, value| [key.humanize.capitalize, value]} %>
      <br>

      <div class='container-left'>
      <%= f.label :size %>
      </div>
      <%= f.select :size, Animal.sizes.map{|key, value| [key.humanize.capitalize, value]} %>
      <br>
  
      <div class='container-left'>
      <%= f.label :medias %>
      </div>
      <%= f.file_field :medias, multiple: true %>  
      <br>
      
      <%= f.submit 'Concluir', :class => 'button' %>
      <% end %>
  </div>
</body>