<div class='container'>
  <h2>    
    <% if @animal.present? %>
      <%= @animal.name %>
  </h2>

  <% if @animal.medias.attached? %>
      <% @animal.medias.each do |media| %>
        <% if media.content_type.start_with? "video/" %>
          <%= video_tag url_for(media), controls: true,:class => 'video' %>
        <% elsif media.content_type.start_with? "image/" %>
          <%= image_tag media, :class => 'picture' %>
        <% end %>
      <% end %>
    <% end %>
    
    <br>
    <br>

    <div class='container-left'>
      <label class='item'>Descrição:</label>
      <%= @animal.description %>
      <br>

      <label class='item'>Idade:</label>
      <%= @animal.age %>
      <br>

      <label class='item'>Peso:</label>
      <%= @animal.weight %>
      <br>
      
      <label class='item'>Porte:</label>
      <%= @animal.size %>
      <br>

      <label class='item'>Pêlo:</label>
      <%= @animal.fur_type %>
      <br>

      <label class='item'>Cor:</label>
      <%= @animal.color %>
      <br>

      <label class='item'>Situação:</label>
      <%= @animal.status %>      
      <br>
    <div>
    <br>
    
    <div class='container-center'>
    <% if admin_signed_in? %> 
      <%= link_to 'Editar animal', edit_animal_path(@animal), :class => 'button' %>
    <% else %>
      <% if @animal.disponivel? %>
        <%= link_to 'Adotar', new_order_path(animal_id: @animal), :class => 'button'%>
        <% if @current_favorites.animal.ids.include?(@animal.id) %>
          <%= link_to 'Desfavoritar', favorites_path(animal_id: @animal), method: :delete, :class => 'button' %>
        <% else %>
          <%= link_to 'Favoritar', favorites_path(animal_id: @animal), method: :post, :class => 'button' %>
        <% end %>
      <% end %>  
    <% end %>  
    <% end %>
    </div>
</div>