<% if @animal.present? %>
  <h1><% @animal.nome %></h1>
  
  <%= @animal.idade %>
  <%= @animal.cor %>
  <%= @animal.tipo_pelo %>
  <%= @animal.peso %>
  <%= @animal.porte %>
  <%= @animal.descricao %>
  <%= @animal.status %>      
  <% if @animal.disponivel? %>
    <%= link_to 'Adotar', new_order_path(animal_id: @animal)%>
  <% end %>  
<% end %>