<h1> Animais </h1>

<%= form_tag(favoritos_path, method: :get) do %> 
  <%= search_field_tag :search, params[:search] %>  
  <%= select_tag :cor, options_for_select(Animal.cors.map {|key, value| [key.humanize.capitalize, value]}, params[:cor]), include_blank: true %>
  <%= select_tag :tipo_pelo, options_for_select(Animal.tipo_pelos.map {|key, value| [key.humanize.capitalize, value]}, params[:tipo_pelo]), include_blank: true %>
  <%= select_tag :tamanho_pelo, options_for_select(Animal.tamanho_pelos.map {|key, value| [key.humanize.capitalize, value]}, params[:tamanho_pelo]), include_blank: true %>
  <%= select_tag :porte, options_for_select(Animal.portes.map {|key, value| [key.humanize.capitalize, value]}, params[:porte]), include_blank: true %>
  <%= label_tag :idade_max %>
  <%= text_field_tag :idade_max, params[:idade_max] %>
  <%= label_tag :idade_min %>
  <%= text_field_tag :idade_min, params[:idade_min] %>
  <%= button_tag "Filtrar" %> 
<% end %>

<% if @animals.any? %>
    <% @animals.each do |animal| %>
        <%= link_to animal.nome, animal %>
        <%= animal.status %>        
        <% if animal.disponivel? && !admin_signed_in? %>
          <%= link_to 'Adotar', new_order_path(animal_id: animal)%>
          <%= link_to 'Desfavoritar', favoritos_path(animal_id: animal), method: :delete %>
        <% end %>
    <% end %>
<% end %>