<!DOCTYPE html>
<html>
  <head>
    <title>AudotaApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <header>
      <nav>
        <%= link_to 'Adote ♡', animals_path, :class => 'button' %>
        
        <% if admin_signed_in? %>
          <%= link_to 'Novo Pet', new_animal_path, :class => 'button' %>
          <%= link_to 'Pedidos de Adoção', orders_path, :class => 'button'  %>  
          <%= link_to 'Sair', destroy_admin_session_path, method: :delete, :class => 'button'  %>
        <% else %>
          <%= link_to 'Favoritos', favorites_path, :class => 'button' %>
        <%= link_to 'Login', admin_session_path, :class => 'button'  %>
        <% end %>
      </nav>
      <div class="flex_container">
        <%= image_tag "audota_logo.png", class:"logo" %>
        <h1>Audota App</h1>    
        <%= image_tag "audota_logo_inverted.png", class:"logo" %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
